<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>WilliamHillWebPage</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b678">  <td>19/02/21 21:14:57</td>   <td>0</td> <td title="&gt;&gt;VerifyWilliamHillTestCases.setupSuite(java.lang.String)[pri:0, instance:com.williamhill.testcases.VerifyWilliamHillTestCases@2f686d1f]">&gt;&gt;setupSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/02/21 21:15:09</td>   <td>11925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyWilliamHillTestCases.verifyWilliamHillHomePage(java.lang.String)[pri:1, instance:com.williamhill.testcases.VerifyWilliamHillTestCases@2f686d1f]">verifyWilliamHillHomePage</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/02/21 21:15:10</td>   <td>13103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyWilliamHillTestCases.verifyWilliamHillFoundedGame(java.lang.String)[pri:2, instance:com.williamhill.testcases.VerifyWilliamHillTestCases@2f686d1f]">verifyWilliamHillFoundedGame</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/02/21 21:15:16</td>   <td>19345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyWilliamHillTestCases.verifyPlayButton()[pri:3, instance:com.williamhill.testcases.VerifyWilliamHillTestCases@2f686d1f]">verifyPlayButton</td> 
  <td>main@2114650936</td>   <td></td> </tr>
<tr bgcolor="97b678">  <td>19/02/21 21:15:26</td>   <td>29881</td> <td title="&lt;&lt;VerifyWilliamHillTestCases.teardownSuite()[pri:0, instance:com.williamhill.testcases.VerifyWilliamHillTestCases@2f686d1f]">&lt;&lt;teardownSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114650936</td>   <td></td> </tr>
</table>
